/* DEFINIÇÕES GERAIS E LAYOUT DE PÁGINA */

:root {
  --bg-primary: linear-gradient(135deg, #01010f, #121224);

  --card-background: #120d1699;
  --card-background-hover: #15101acc;
  --card-border: #ffffff17;

  --txt-primary: #ffffff;
  --txt-secondary: #007bff;
  --txt-terciary: #777777;

  --pd-component: 12px 16px;
}

body {
  background: var(--bg-primary) fixed;
  color: var(--txt-primary);
  font-family: "Poppins", sans-serif;

  position: relative;
  min-height: 100vh;
}

header,
nav {
  max-width: 750px;
  margin: 0 auto;
}

header,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

footer {
  color: var(--txt-terciary);
  margin: 24px 0;
}

h1 {
  text-align: center;
  width: fit-content;
}

h2 {
  display: flex;
  align-items: center;

  img {
    width: 42px;
    height: 42x;
    margin-right: 8px;
  }
}

a {
  color: var(--txt-secondary);
  text-decoration: none;

  cursor: pointer;
  margin: 0;
}

p {
  margin: 4px 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  margin: 8px auto;
  max-width: 750px;
}

article {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;

  h2 {
    text-align: left;
    padding: 4px 8px;
    margin: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
}

section {
  position: relative;
}

#avatar {
  border-radius: 50%;
  margin: 12px 24px;

  img {
    height: 170px;
    border-radius: 50%;
  }
}

#sobre-mim {
  flex-grow: 2;
}

#academico {
  grid-template-columns: 1fr 1fr 1fr;
}

#spotify {
  left: 0;
  width: 100%;
  height: 352px;
  position: relative;

  iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 0;
  }
}

#contato-lista {
  margin-bottom: 16px;

  i {
    font-size: 1.5rem;
  }
}

#popcorn-club {
  border-radius: 50%;
}

#mercapli {
  border-radius: 40px;
}
